SHEET_ID=YOUR_SHEET_ID
SHEET_API_KEY=YOUR_SHEET_API_KEY
GID=0
SUBMISSION_LINK_COLUMN=A
DAILY_DATE_COLUMN=A
DAILY_PROBLEM_COLUMN=A
DAILY_DIFFICULTY_COLUMN=A
DAILY_TAGS_COLUMN=A
LEETCODE_SESSION_FILE=path/to/leetcode_session
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json